<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408162861210-2vl2qeoej7m14eq5gtcsp7brhlm3ci8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408162861210-2vl2qeoej7m14eq5gtcsp7brhlm3ci8r</string>
	<key>API_KEY</key>
	<string>AIzaSyDYNjHSbistNT8t8JLo5CvePnAKkba6ROY</string>
	<key>GCM_SENDER_ID</key>
	<string>408162861210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.henriquemarques.Programmatically-UI</string>
	<key>PROJECT_ID</key>
	<string>login-59d71</string>
	<key>STORAGE_BUCKET</key>
	<string>login-59d71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408162861210:ios:fc10a5fd7d49203a3cdf23</string>
</dict>
</plist>